<div class="bg-white overflow-hidden shadow sm:rounded-lg mb-4">
  <div class="px-4 py-5 sm:p-6">
    <nav>
      <a
        [routerLinkActive]="'active-nav-link'"
        [routerLink]="'quotes'"
        [class.disabled]="project.order?.shadow || purchaseOrderProject"
        class="mt-1 group nav-link">
        <svg
          class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            clip-rule="evenodd"
            d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
            fill-rule="evenodd"></path>
          <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
        </svg>

        <span class="truncate"> Quotes </span>
      </a>

      <a
        [class.disabled]="!project?.order || purchaseOrderProject"
        [routerLinkActive]="'active-nav-link'"
        [routerLink]="'orders/' + project?.order?.id"
        class="mt-1 group nav-link">
        <svg
          class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
        </svg>

        <span class="truncate"> Order </span>
      </a>

      <a
        [class.disabled]="
          project?.order?.status < orderStatusEnum.ACTIVE ||
          project.order?.shadow ||
          purchaseOrderProject
        "
        [routerLinkActive]="'active-nav-link'"
        [routerLink]="'invoices'"
        class="mt-1 group nav-link">
        <svg
          class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"></path>
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
            fill-rule="evenodd"></path>
        </svg>

        <span class="truncate"> Invoices </span>
      </a>

      <a
        *ngIf="userRole !== userRoleEnum.SALES_PERSON"
        [class.disabled]="
          project?.order?.status < orderStatusEnum.ACTIVE &&
          !purchaseOrderProject
        "
        [routerLinkActive]="'active-nav-link'"
        [routerLink]="'resource_invoices'"
        class="mt-1 group nav-link">
        <svg
          class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"></path>
          <path
            clip-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
            fill-rule="evenodd"></path>
        </svg>

        <span class="truncate"> Resource Invoices </span>
      </a>

      <a
        *ngIf="userRole !== userRoleEnum.SALES_PERSON"
        [class.disabled]="
          project?.order?.status < orderStatusEnum.ACTIVE &&
          !purchaseOrderProject
        "
        [routerLinkActive]="'active-nav-link'"
        [routerLink]="'purchase_orders'"
        class="mt-1 group nav-link">
        <svg
          class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            clip-rule="evenodd"
            d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
            fill-rule="evenodd"></path>
        </svg>

        <span class="truncate"> Purchase Orders </span>
      </a>

      <a
        *ngIf="userRole !== userRoleEnum.SALES_PERSON"
        [class.disabled]="
          project?.order?.status < orderStatusEnum.ACTIVE ||
          purchaseOrderProject
        "
        [routerLinkActive]="'active-nav-link'"
        [routerLink]="'employees'"
        class="mt-1 group nav-link">
        <svg
          class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
        </svg>

        <span class="truncate"> Employees </span>
      </a>

      <a
        *ngIf="userRole !== userRoleEnum.SALES_PERSON"
        [class.disabled]="
          project?.order?.status < orderStatusEnum.ACTIVE ||
          purchaseOrderProject
        "
        [routerLinkActive]="'active-nav-link'"
        [routerLink]="'sales_peoples'"
        class="mt-1 group nav-link">
        <svg
          class="flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
        </svg>

        <span class="truncate"> Sales People </span>
      </a>
    </nav>
  </div>
</div>
