<div class="flex flex-col bg-white shadow rounded-lg relative">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div
      class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
      <div class="ml-4 mt-2">
        <h3 class="text-xl leading-6 font-medium text-gray-900">
          {{ rentCost ? 'Edit' : 'Create' }} Monthly Cost
        </h3>
      </div>
    </div>
  </div>

  <div class="px-4 py-5 sm:p-6">
    <div class="max-w-7xl mx-auto">
      <div *ngIf="isLoading" class="loading-overlay rounded">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

      <form
        autocomplete="off"
        [formGroup]="rentCostForm"
        (submit)="submitForm()">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Monthly cost details
          </h3>
        </div>

        <!-- Amount -->
        <div class="mt-6 sm:mt-5">
          <div
            class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="amount">
              Amount
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    rentCostForm.controls.amount?.errors &&
                    rentCostForm.controls.amount?.dirty
                  "
                  [class.focus:border-red-300]="
                    rentCostForm.controls.amount?.errors &&
                    rentCostForm.controls.amount?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    rentCostForm.controls.amount?.errors &&
                    rentCostForm.controls.amount?.dirty
                  "
                  [max]="100"
                  [min]="0"
                  [options]="{ prefix: currencyPrefix, align: 'left' }"
                  currencyMask
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="amount"
                  id="amount"
                  ozFinanceAutoFocus
                  placeholder="amount"
                  type="text" />
              </div>

              <p
                *ngIf="
                  rentCostForm.controls.amount?.errors?.required &&
                  rentCostForm.controls.amount?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="amount-required--error">
                This field is required
              </p>

              <p
                *ngIf="
                  rentCostForm.controls.amount?.errors?.max &&
                  rentCostForm.controls.amount?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="amount-max-length--error">
                Please enter a number between 0 and 1000000
              </p>

              <p
                *ngIf="
                  (rentCostForm.controls.amount?.errors?.number ||
                    rentCostForm.controls.amount.errors?.integer) &&
                  rentCostForm.controls.amount?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-1 text-sm text-red-600">
                Amount must be an integer
              </p>
            </div>
          </div>
        </div>

        <!-- Name -->
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="name">
              Name
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="name"
                  id="name"
                  placeholder="name"
                  type="text" />
              </div>

              <p
                *ngIf="
                  rentCostForm.controls.name?.errors?.maxlength &&
                  rentCostForm.controls.name?.value
                "
                [@errorMessageAnimation]
                class="mt-2 text-sm text-red-600"
                id="name-error-maxlength">
                Name may be no longer than 50 characters.
              </p>
            </div>
          </div>
        </div>

        <!-- Start date -->
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="start_date">
              Start Date
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    rentCostForm.errors?.start_date_end_date &&
                    rentCostForm.controls.start_date?.dirty
                  "
                  [class.focus:border-red-300]="
                    rentCostForm.errors?.start_date_end_date &&
                    rentCostForm.controls.start_date?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    rentCostForm.errors?.start_date_end_date &&
                    rentCostForm.controls.start_date?.dirty
                  "
                  [owlDateTimeTrigger]="startDatePicker"
                  [owlDateTime]="startDatePicker"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="start_date"
                  id="start_date"
                  placeholder="pick a date"
                  required
                  type="text" />

                <owl-date-time #startDatePicker [pickerType]="'calendar'">
                </owl-date-time>
              </div>

              <p
                *ngIf="
                  rentCostForm.controls.start_date?.errors &&
                  rentCostForm.controls.start_date?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="start_date-required-error">
                This field is required.
              </p>

              <p
                *ngIf="
                  rentCostForm.errors?.start_date_end_date &&
                  rentCostForm.controls.start_date?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="start_date-error">
                Start date can't be after end date.
              </p>
            </div>
          </div>
        </div>

        <!-- End date -->
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="end_date">
              End Date
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    rentCostForm.errors?.start_date_end_date &&
                    rentCostForm.controls.end_date?.dirty
                  "
                  [class.focus:border-red-300]="
                    rentCostForm.errors?.start_date_end_date &&
                    rentCostForm.controls.end_date?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    rentCostForm.errors?.start_date_end_date &&
                    rentCostForm.controls.end_date?.dirty
                  "
                  [owlDateTimeTrigger]="endDatePicker"
                  [owlDateTime]="endDatePicker"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="end_date"
                  id="end_date"
                  placeholder="pick a date"
                  type="text" />

                <owl-date-time #endDatePicker [pickerType]="'calendar'">
                </owl-date-time>
              </div>

              <p
                *ngIf="
                  rentCostForm.errors?.start_date_end_date &&
                  rentCostForm.controls.end_date?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="end_date-error">
                End date can't be before start date.
              </p>
            </div>
          </div>
        </div>

        <!-- Submit -->
        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-center lg:justify-end">
            <span
              class="ml-3 inline-flex rounded-md shadow-sm w-full md:w-64 lg:w-32">
              <button
                [class.cursor-not-allowed]="!canSubmit"
                [class.hover:bg-indigo-500]="!canSubmit"
                [class.opacity-50]="!canSubmit"
                [disabled]="canSubmit ? undefined : true"
                class="inline-flex leading-5 indigo-button button w-full"
                type="submit">
                {{ rentCost ? 'Update' : 'Create' }}
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
