<div class="flex flex-col bg-white shadow rounded-lg relative">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div>
      <a [routerLink]="smtpSettingsUrl" class="-ml-1 text-gray-400 text-sm">
        <svg
          class="inline-block"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <g stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M6 12H18M6 12L11 7M6 12L11 17"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
        </svg>
        <span class="inline-block">Back</span></a
      >
    </div>
    <div
      class="-ml-4 flex items-center justify-between flex-wrap sm:flex-no-wrap">
      <div class="ml-4 mt-2">
        <h3 class="text-xl leading-6 font-medium text-gray-900">
          SMTP Settings
        </h3>
      </div>
    </div>
  </div>
  <div class="relative py-5 sm:p-6">
    <div class="max-w-7xl mx-auto">
      <div *ngIf="isLoading" class="loading-overlay rounded">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

      <form
        autocomplete="off"
        [formGroup]="smtpSettingForm"
        (submit)="submitForm()">
        <div class="flex align-center justify-between">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Settings
            </h3>
          </div>
          <div class="inline-flex gap-4 items-center">
            <span
              (click)="deleteSmtpSetting()"
              class="cursor-pointer text-red-500 bg-gray-100 inline-block p-2 rounded-full hover:opacity-80">
              <svg
                *ngIf="smtpSetting?.id"
                width="24px"
                height="24px"
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill="currentColor"
                    d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32V256zm448-64v-64H416v64h192zM224 896h576V256H224v640zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32zm192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32z"></path>
                </g>
              </svg>
            </span>
          </div>
        </div>

        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="smtp_host">
              SMTP Host
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    smtpSettingForm.controls.smtp_host?.errors &&
                    smtpSettingForm.controls.smtp_host?.dirty
                  "
                  [class.focus:border-red-300]="
                    smtpSettingForm.controls.smtp_host?.errors &&
                    smtpSettingForm.controls.smtp_host?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    smtpSettingForm.controls.smtp_host?.errors &&
                    smtpSettingForm.controls.smtp_host?.dirty
                  "
                  [maxLength]="256"
                  [minLength]="1"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="smtp_host"
                  id="smtp_host"
                  placeholder="SMTP Host"
                  type="text" />
              </div>
              <p
                *ngIf="
                  smtpSettingForm.controls.smtp_host?.errors &&
                  smtpSettingForm.controls.smtp_host?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="email-error">
                <ng-container
                  *ngIf="smtpSettingForm.controls.smtp_host?.errors.required">
                  Please provide a host name
                </ng-container>

                <ng-container
                  *ngIf="smtpSettingForm.controls.smtp_host?.errors.error">
                  {{ smtpSettingForm.controls.smtp_host?.errors.error }}
                </ng-container>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="smtp_port">
              SMTP Port
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    smtpSettingForm.controls.smtp_port?.errors &&
                    smtpSettingForm.controls.smtp_port?.dirty
                  "
                  [class.focus:border-red-300]="
                    smtpSettingForm.controls.smtp_port?.errors &&
                    smtpSettingForm.controls.smtp_port?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    smtpSettingForm.controls.smtp_port?.errors &&
                    smtpSettingForm.controls.smtp_port?.dirty
                  "
                  [maxLength]="256"
                  [minLength]="1"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="smtp_port"
                  id="smtp_port"
                  placeholder="SMTP Port (587, 465)"
                  type="text" />
              </div>
              <p
                *ngIf="
                  smtpSettingForm.controls.smtp_port?.errors &&
                  smtpSettingForm.controls.smtp_port?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="email-error">
                <ng-container
                  *ngIf="smtpSettingForm.controls.smtp_port?.errors.required">
                  Please provide a valid port number
                </ng-container>

                <ng-container
                  *ngIf="smtpSettingForm.controls.smtp_port?.errors.error">
                  {{ smtpSettingForm.controls.smtp_port?.errors.error }}
                </ng-container>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="smtp_username">
              SMTP Username
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    smtpSettingForm.controls.smtp_username?.errors &&
                    smtpSettingForm.controls.smtp_username?.dirty
                  "
                  [class.focus:border-red-300]="
                    smtpSettingForm.controls.smtp_username?.errors &&
                    smtpSettingForm.controls.smtp_username?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    smtpSettingForm.controls.smtp_username?.errors &&
                    smtpSettingForm.controls.smtp_username?.dirty
                  "
                  [maxLength]="256"
                  [minLength]="1"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="smtp_username"
                  id="smtp_username"
                  placeholder="SMTP Username"
                  type="text" />
              </div>
              <p
                *ngIf="
                  smtpSettingForm.controls.smtp_username?.errors &&
                  smtpSettingForm.controls.smtp_username?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="email-error">
                <ng-container
                  *ngIf="
                    smtpSettingForm.controls.smtp_username?.errors.required
                  ">
                  Please provide a valid username
                </ng-container>

                <ng-container
                  *ngIf="smtpSettingForm.controls.smtp_username?.errors.error">
                  {{ smtpSettingForm.controls.smtp_username?.errors.error }}
                </ng-container>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="{{
                smtpSetting?.id ? '' : 'required'
              }} block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="smtp_password">
              SMTP Password
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    smtpSettingForm.controls.smtp_password?.errors &&
                    smtpSettingForm.controls.smtp_password?.dirty
                  "
                  [class.focus:border-red-300]="
                    smtpSettingForm.controls.smtp_password?.errors &&
                    smtpSettingForm.controls.smtp_password?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    smtpSettingForm.controls.smtp_password?.errors &&
                    smtpSettingForm.controls.smtp_password?.dirty
                  "
                  [maxLength]="256"
                  [minLength]="1"
                  (change)="updatePasswordValidators()"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="smtp_password"
                  id="smtp_password"
                  placeholder="SMTP Password (The Key your provider has generated for you in the case of a gmail account)"
                  type="password" />
              </div>
              <p
                *ngIf="
                  smtpSettingForm.controls.smtp_password?.errors &&
                  smtpSettingForm.controls.smtp_password?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="email-error">
                <ng-container
                  *ngIf="
                    smtpSettingForm.controls.smtp_password?.errors.required
                  ">
                  Please provide a valid password
                </ng-container>

                <ng-container
                  *ngIf="smtpSettingForm.controls.smtp_password?.errors.error">
                  {{ smtpSettingForm.controls.smtp_password?.errors.error }}
                </ng-container>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="smtp_encryption">
              SMTP Encryption
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <select
                  [class.border-red-300]="
                    smtpSettingForm.controls.smtp_encryption?.errors &&
                    smtpSettingForm.controls.smtp_encryption?.dirty
                  "
                  [class.focus:border-red-300]="
                    smtpSettingForm.controls.smtp_encryption?.errors &&
                    smtpSettingForm.controls.smtp_encryption?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    smtpSettingForm.controls.smtp_encryption?.errors &&
                    smtpSettingForm.controls.smtp_encryption?.dirty
                  "
                  class="form-select block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="smtp_encryption"
                  id="smtp_encryption">
                  <option value="" disabled selected>
                    Select SMTP Encryption
                  </option>
                  <option value="ssl">SSL</option>
                  <option value="tls">TLS</option>
                  <!-- Add more options as needed -->
                </select>
              </div>
              <p
                *ngIf="
                  smtpSettingForm.controls.smtp_encryption?.errors &&
                  smtpSettingForm.controls.smtp_encryption?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="email-error">
                <ng-container
                  *ngIf="
                    smtpSettingForm.controls.smtp_encryption?.errors.required
                  ">
                  Please provide a valid Encryption
                </ng-container>

                <ng-container
                  *ngIf="
                    smtpSettingForm.controls.smtp_encryption?.errors.error
                  ">
                  {{ smtpSettingForm.controls.smtp_encryption?.errors.error }}
                </ng-container>
              </p>
            </div>
          </div>
        </div>

        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="sender_email">
              Sender Email
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    smtpSettingForm.controls.sender_email.errors &&
                    smtpSettingForm.controls.sender_email?.dirty
                  "
                  [class.focus:border-red-300]="
                    smtpSettingForm.controls.sender_email?.errors &&
                    smtpSettingForm.controls.sender_email?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    smtpSettingForm.controls.sender_email?.errors &&
                    smtpSettingForm.controls.sender_email?.dirty
                  "
                  [maxLength]="256"
                  [minLength]="1"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="sender_email"
                  id="sender_email"
                  placeholder="The Email address from which emails will be sent"
                  type="email" />
              </div>
              <p
                *ngIf="
                  smtpSettingForm.controls.sender_email?.errors &&
                  smtpSettingForm.controls.sender_email?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="email-error">
                <ng-container
                  *ngIf="
                    smtpSettingForm.controls.sender_email?.errors.required
                  ">
                  Please provide a valid email
                </ng-container>

                <ng-container
                  *ngIf="smtpSettingForm.controls.sender_email?.errors.error">
                  {{ smtpSettingForm.controls.sender_email?.errors.error }}
                </ng-container>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="sender_name">
              Sender Name
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg relative rounded-md shadow-sm sm:max-w-xs">
                <input
                  [class.border-red-300]="
                    smtpSettingForm.controls.sender_name?.errors &&
                    smtpSettingForm.controls.sender_name?.dirty
                  "
                  [class.focus:border-red-300]="
                    smtpSettingForm.controls.sender_name?.errors &&
                    smtpSettingForm.controls.sender_name?.dirty
                  "
                  [class.focus:shadow-outline-red]="
                    smtpSettingForm.controls.sender_name?.errors &&
                    smtpSettingForm.controls.sender_name?.dirty
                  "
                  [maxLength]="256"
                  [minLength]="1"
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                  formControlName="sender_name"
                  id="sender_name"
                  placeholder="The name you want the recipients to see in their inbox"
                  type="text" />
              </div>
              <p
                *ngIf="
                  smtpSettingForm.controls.sender_email?.errors &&
                  smtpSettingForm.controls.sender_name?.dirty
                "
                [@errorMessageAnimation]
                class="absolute mt-2 text-sm text-red-600"
                id="email-error">
                <ng-container
                  *ngIf="smtpSettingForm.controls.sender_name?.errors.required">
                  Please provide a valid name
                </ng-container>

                <ng-container
                  *ngIf="smtpSettingForm.controls.sender_name?.errors.error">
                  {{ smtpSettingForm.controls.sender_name?.errors.error }}
                </ng-container>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-5">
          <div class="flex justify-end lg:justify-end">
            <span
              class="ml-3 inline-flex rounded-md shadow-sm w-full md:w-64 lg:w-64">
              <button
                type="submit"
                class="inline-flex leading-5 indigo-button button w-full"
                [class.disabled]="!smtpSettingForm?.valid"
                [disabled]="
                  !isLoading && smtpSettingForm.valid ? undefined : true
                ">
                {{
                  smtpSetting ? 'Update Email settings' : 'Save Email settings'
                }}
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<oz-finance-confirm-modal #confirmModal></oz-finance-confirm-modal>
