<oz-finance-page-header [heading]="'Purchase Orders'"></oz-finance-page-header>

<div
  class="overflow-x-hidden overflow-y-auto max-w-screen-8xl mx-auto sm:px-6 lg:px-8 py-6">
  <oz-finance-datatable
    (columnsUpdated)="columnsUpdated($event)"
    (columnsAndSortsUpdated)="columnsAndSortsUpdated($event)"
    (addClicked)="addPurchaseOrder()"
    (editClicked)="editPurchaseOrder($event)"
    (filtersUpdated)="filtersUpdated($event)"
    (pageUpdated)="pageUpdated($event)"
    (selectionDeleted)="deletePurchaseOrders($event)"
    (sortsUpdated)="sortsUpdated($event)"
    (cloneClicked)="clonePurchaseOrder($event)"
    (downloadClicked)="downloadPurchaseOrder($event)"
    (exportClicked)="exportPurchaseOrders()"
    [allColumns]="preferences?.all_columns"
    [buttonConfig]="buttonConfig"
    [rowMenuConfig]="rowMenuConfig"
    [columns]="preferences?.columns"
    [defaultColumns]="preferences?.default_columns"
    [defaultFilters]="preferences?.default_filters"
    [count]="purchaseOrders?.count"
    [datatableType]="'purchase_orders'"
    [filters]="preferences?.filters"
    [isLoading]="isLoading"
    [page]="page"
    [rows]="purchaseOrders?.data"
    [selectionType]="'single'"
    [sorts]="preferences?.sorts"
    [title]="'Purchase Orders'"
    (refreshClicked)="refreshClicked()"></oz-finance-datatable>
</div>
<oz-finance-download-modal #downloadModal></oz-finance-download-modal>
