<div
  *ngIf="showCloneModal"
  [@modalContainerAnimation]
  class="fixed bottom-0 inset-x-0 px-4 py-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">
  <!--
    Background overlay, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div
    [@modalBackdropAnimation]
    (click)="dismissModal()"
    class="fixed inset-0 transition-opacity">
    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  </div>

  <!--
    Modal panel, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      To: "opacity-100 translate-y-0 sm:scale-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100 translate-y-0 sm:scale-100"
      To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -->
  <div
    [@modalAnimation]
    aria-labelledby="modal-headline"
    aria-modal="true"
    class="relative bg-white rounded-lg px-4 pt-5 pb-4 overflow-y-visible shadow-xl transform transition-all sm:max-w-lg sm:w-full sm:p-6"
    role="dialog">
    <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
      <button
        (click)="dismissModal()"
        aria-label="Close"
        class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150"
        type="button">
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M6 18L18 6M6 6l12 12"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2" />
        </svg>
      </button>
    </div>
    <div class="sm:flex sm:items-start">
      <div class="mt-3 w-full text-center sm:mt-0 sm:text-left">
        <h3
          class="text-lg leading-6 font-medium text-gray-900"
          id="modal-headline-secret">
          Clone
        </h3>

        <div class="my-6">
          <!-- Order -->
          <div
            class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:items-start sm:pt-5">
            <label
              class="required block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2"
              for="order">
              Order
            </label>

            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
                <ng-select
                  [(ngModel)]="selectedOrder"
                  [bindLabel]="'number'"
                  [bindValue]="'id'"
                  [clearable]="false"
                  [items]="orderSelect | async"
                  [ngModelOptions]="{ standalone: true }"
                  [typeahead]="orderInput"
                  class="custom form-select transition duration-150 ease-in-out"
                  id="order">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
      <span
        class="mt-3 sm:ml-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
        <button
          [disabled]="selectedOrder ? undefined : true"
          (click)="submit()"
          class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-green-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5"
          type="button">
          Save
        </button>
      </span>
      <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
        <button
          (click)="dismissModal()"
          class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5"
          type="button">
          Cancel
        </button>
      </span>
    </div>
  </div>
</div>
