<div class="flex flex-col bg-white shadow rounded-lg relative">
  <div class="bg-white px-4 py-5 sm:p-6">
    <div class="px-4 py-5 flex-wrap sm:flex-no-wrap">
      <div class="max-w-7xl mx-auto mt-2">
        <h3 class="text-xl leading-6 font-medium text-gray-900">Settings</h3>
      </div>
    </div>
  </div>
  <div class="py-2 sm:p-6">
    <div class="max-w-7xl mx-auto">
      <div *ngIf="isLoading" class="loading-overlay rounded">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <form
        autocomplete="off"
        [formGroup]="designTemplateForm"
        (submit)="submitForm()">
        <div>
          <a
            [routerLink]="designTemplateListUrl"
            class="-ml-1 text-gray-400 text-sm">
            <svg
              class="inline-block"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <g stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M6 12H18M6 12L11 7M6 12L11 17"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
            </svg>
            <span class="inline-block">Back</span></a
          >
        </div>
        <div class="flex align-center justify-between py-0 gap-4">
          <div class="flex-grow">
            <div class="relative rounded-md shadow-sm flex-grow pr-3 mt-3">
              <input
                [class.border-red-300]="
                  designTemplateForm.controls.title?.errors?.required &&
                  designTemplateForm.controls.title?.dirty
                "
                [class.focus:border-red-300]="
                  designTemplateForm.controls.title?.errors?.required &&
                  designTemplateForm.controls.title?.dirty
                "
                [class.focus:shadow-outline-red]="
                  designTemplateForm.controls.title?.errors?.required &&
                  designTemplateForm.controls.title?.dirty
                "
                [maxLength]="255"
                class="font-bold px-0 py-2 focus:shadow-none focus:border-transparent border-0 form-input block w-full transition duration-150 ease-in-out sm:text-md sm:leading-5"
                formControlName="title"
                [readonly]="readOnly"
                [class.read-only]="readOnly"
                id="title"
                placeholder="Design template title..."
                type="text" />

              <div
                *ngIf="
                  designTemplateForm.controls.title?.errors?.required &&
                  designTemplateForm.controls.title?.dirty
                "
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <svg
                  class="h-5 w-5 text-red-500"
                  fill="currentColor"
                  viewBox="0 0 20 20">
                  <path
                    clip-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    fill-rule="evenodd" />
                </svg>
              </div>
            </div>
            <div class="relative rounded-md shadow-sm flex-grow pr-3 mt-3">
              <input
                [class.border-red-300]="
                  designTemplateForm.controls.subject.errors?.required &&
                  designTemplateForm.controls.subject?.dirty
                "
                [class.focus:border-red-300]="
                  designTemplateForm.controls.subject?.errors?.required &&
                  designTemplateForm.controls.subject?.dirty
                "
                [class.focus:shadow-outline-red]="
                  designTemplateForm.controls.subject?.errors?.required &&
                  designTemplateForm.controls.subject?.dirty
                "
                [maxLength]="255"
                class="px-0 py-2 focus:shadow-none focus:border-transparent border-0 form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                formControlName="subject"
                [readonly]="readOnly"
                [class.read-only]="readOnly"
                id="subject"
                placeholder="Design template subject..."
                type="text" />

              <div
                *ngIf="
                  designTemplateForm.controls.subject?.errors?.required &&
                  designTemplateForm.controls.subject?.dirty
                "
                class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <svg
                  class="h-5 w-5 text-red-500"
                  fill="currentColor"
                  viewBox="0 0 20 20">
                  <path
                    clip-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    fill-rule="evenodd" />
                </svg>
              </div>
            </div>
          </div>
          <div class="inline-flex gap-4 items-center">
            <span
              class="inline-flex rounded-md shadow-sm w-full md:w-48 lg:w-48 gap-4 align-center">
              <button
                *ngIf="designTemplate?.id"
                type="button"
                (click)="deleteDesignTemplate()"
                class="inline-flex leading-5 white-button button w-full gap-2 items-center text-red-500 hover:text-red-400 border-red-500 border hover:border-red-400"
                [class.disabled]="!designTemplateForm?.valid"
                [disabled]="
                  !isLoading && designTemplateForm.valid ? undefined : true
                ">
                <svg
                  *ngIf="designTemplate?.id"
                  width="16px"
                  height="16px"
                  viewBox="0 0 1024 1024"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      fill="currentColor"
                      d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32V256zm448-64v-64H416v64h192zM224 896h576V256H224v640zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32zm192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32z"></path>
                  </g>
                </svg>

                <span>Delete Design</span>
              </button>
            </span>
            <span
              class="inline-flex rounded-md shadow-sm w-full md:w-48 lg:w-48 gap-4 align-center">
              <button
                type="submit"
                class="inline-flex leading-5 indigo-button button w-full"
                [class.disabled]="!designTemplateForm?.valid"
                [disabled]="
                  !isLoading && designTemplateForm.valid ? undefined : true
                ">
                Save changes
              </button>
            </span>
          </div>
        </div>
        <div class="border border-gray-200 rounded flex my-5">
          <email-editor
            [appearance]="appearance"
            [options]="editorOption()"
            #emailEditor
            (loaded)="editorLoaded($event)"></email-editor>
        </div>
      </form>
    </div>
  </div>
</div>
<oz-finance-confirm-modal #confirmModal></oz-finance-confirm-modal>
<oz-finance-template-variable></oz-finance-template-variable>
