APP_NAME=oz-finance
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://oz-finance.local:8080
APP_FRONTEND_URL=oz-finance.local:4200

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=oz-finance
DB_USERNAME=root
DB_PASSWORD=secret

ELASTIC_HOSTS=elasticsearch:9200

BROADCAST_DRIVER=redis
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AUTH_2FA=false

FIXER_ACCESS_KEY=fd7108d03d99dac1959fe98049b7d423

SENTRY_LARAVEL_DSN=https://2ece1f8f49ef475a95864e8d6f55171b@sentry.cyrextech.net/8

XERO_CLIENT_ID=BFE9B081E2D7496CAFDBF6AC5E3FF346
XERO_CLIENT_SECRET=Uguc8Big7TTJhFLbAeBMct_6l56EgbSUQtwZgLM6aUIubPPT
XERO_REDIRECT_URI=xero.auth.callback
XERO_REDIRECT_FULL_URL=https://localhost:4200/xero/redirect

